# Virtual Environment
coinmor/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated project data
snapshots/
reports/
apple.json
nothing.json

# Logs
*.log

scraping_practice/

# test
test.py